<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Janice's Kitchen</title>
  <link rel="stylesheet" href="/static/style.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <a class="page-link" href="/"> Home </a>
  <a class="page-link" href="/lessons"> Lessons </a>
  <a class="page-link" href="/cookies"> Cookies </a>
  <a class="page-link" href="/catering"> Catering </a>
  <a class="page-link" href="/about"> About </a>
</header>
<h1 class="title"> About </h1>
<div class="flex-grid">
  <div style="flex:1;margin-right: 50px;">
    <img class="profile" src="/static/mama.jpg"/>
  </div>
  <p class="about-text"> 
    I am a passionate, creative, self taught chef with a background in studio art which means my food is both delicious and visually appealing. When I have free time you can find me happily experimenting in the kitchen – creating and refining recipes, attempting new techniques, exploring unfamiliar cuisines.
    <br><br>
    There are few things I enjoy more than eating good food with friends and family. I am delighted  to provide food for your social gatherings so you can spend time with your special people and not feel stressed about food preparation. I have been a kosher caterer for thirty plus years.
    <br><br>
    Cooking for my clients is a collaborative effort in that my menus are tailored to their interests and tastes.
  </p>
</div>
</body>
</html> -->
<!DOCTYPE html>
<html>
<title>Janice's Kitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
<style>
body {font-family: "Raleway"; color: #0f457e;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  letter-spacing: 3px;
  text-decoration: none;
  color: #0f457e;
}
@media (max-width:700px){h1 {padding-top:50px;}}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Janice's Kitchen</a>
    <div class="w3-right">
      <a href="/lessons" class="w3-bar-item w3-button">Lessons</a>
      <a href="/cookies" class="w3-bar-item w3-button">Cookies</a>
      <a href="/catering" class="w3-bar-item w3-button">Catering</a>
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">
  <!-- About -->
  <div class="w3-row w3-padding-64">
    <div class="w3-half w3-padding-small">
      <img src="/static/mama.jpg" class="w3-round w3-image" alt="mama" width="500" height="650">
    </div>
    <div class="w3-half w3-padding-small">
      <h1> About Me </h1>
      <p> I am a passionate, creative, self taught chef with a background in studio art which means my food is both delicious and visually appealing. When I have free time you can find me happily experimenting in the kitchen – creating and refining recipes, attempting new techniques, exploring unfamiliar cuisines.</p>
      <p> There are few things I enjoy more than eating good food with friends and family. I am delighted  to provide food for your social gatherings so you can spend time with your special people and not feel stressed about food preparation. I have been a kosher caterer for thirty plus years.</p>
    </div>
  </div>
  <!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-16">
  <p>Contact janice.eatingin@gmail.com</p>
</footer>
</body>
</html>