<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Janice's Kitchen</title>
  <link rel="stylesheet" href="/static/style.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <a class="page-link" href="/"> Home </a>
  <a class="page-link" href="/lessons"> Lessons </a>
  <a class="page-link" href="/cookies"> Cookies </a>
  <a class="page-link" href="/catering"> Catering </a>
  <a class="page-link" href="/about"> About </a>
</header>
<div style="display:flex; flex-direction: column;">
  <img src="/static/food-rotated.jpg" style="width:40%; margin:10px auto;"/>
  <div class="bold-raleway" style="font-size:30px; margin:0 auto; width:fit-content; padding-bottom:50px;">
    Catering
  </div>
  <div style="margin: 0 12%; color: #0f457e;">
    I cater events for eight to fifty people. 
    <br><br>
    My food is best described as inventive, eclectic and satisfying. My savory dishes are fairly healthy, seasonal and visually appealing. My desserts include a wide variety of cakes, tarts, cookies and home made ice cream. Additionally, I bake many types of bread. Kashrute is observed.
    <br><br> 
    I also offer, what one of my clients refers to as, “the gift of Janice.” I will happily fill the fridge and freezer of new parents who need healthy, delicious food but have little time to prepare meals when a new baby arrives. This is a unique baby gift which is always gratefully received.
    <br><br>
    Please contact me at janice.eatingin@gmail.com to discuss your upcoming event.
    <br><br>
    References availabe upon request.
    <br><br>
    <div class="bold-raleway" style="font-size:20px; padding-top:30px;">
      Sample Menus
    </div>

    <div class="bold-raleway" style="font-size:15px; margin-top:15px; margin-bottom:7px">
      Vegetarian Dinner
    </div>

    Red Lentil Soup with Coconut Milk and Spinach
    <br>
    Chick Pea Salad with Toasted Pumpkin Seeds, Tomato and Cilantro 
    <br>
    Roasted Cauliflower and Shallots, Shaved Cabbage and Toasted Almonds on a Celery Root Puree
    <br>
    Cold Persian Spinach with Yogurt and Mint
    <br>
    Carrot Salad with Middle Eastern Spices
    <br>
    Rice
    <br>
    Chocolate Tart
    <br>
    Home Made Sesame Ice Cream with Dark Chocolate Flakes
    <br>


    <div class="bold-raleway" style="font-size:15px; margin-top:15px; margin-bottom:7px">
      Fish Dinner
    </div>
    Parsnip Soup with Coconut Milk and Lemon
    <br>
    Halibut with Preserved Lemons, Capers, Dill, Pine Nuts and Currants
    <br>
    Indian Carrots with Coconut and Cilantro
    <br>
    Pan Roasted Potatoes with Chives and Tarragon
    <br>
    Arugula Salad with Fennel, Toasted Almonds, Mint and Parmesan
    <br>
    Ginger Molasses Cookies, Chocolate Chocolate Chip Shortbread with Sea Salt
    <br>
    Home Made Ginger Ice Cream with Dark Chocolate Flakes
    <br>
    Home Made Mocha Chip Ice Cream
    <br>

    <div class="bold-raleway" style="font-size:15px; margin-top:15px; margin-bottom:7px">
      Chicken Dinner
    </div>
    Tomato Soup with Chipotle Chiles and Honey
    <br>
    Roasted Chicken with Preserved Lemons and Olives
    <br>
    Green Beans with Pine Nut Cilantro Sauce
    <br>
    Couscous with Fresh Herbs, Lemon and Toasted Pine Nuts
    <br>
    Baby Kale Salad with Toasted Walnuts and Roasted Sweet Potatoes
    <br>
    Apple Cake
    <br>
    Coconut Sorbet
  </div>
</div>

</body>
</html> -->

<!DOCTYPE html>
<html>
<title>Janice's Kitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
<style>
body {font-family: "Raleway"; color: #0f457e;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  letter-spacing: 3px;
  text-decoration: none;
  color: #0f457e;
}
@media (max-width:700px){h1,img {padding-top:50px;}}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top"">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Janice's Kitchen</a>
    <div class="w3-right">
      <a href="/lessons" class="w3-bar-item w3-button">Lessons</a>
      <a href="/cookies" class="w3-bar-item w3-button">Cookies</a>
      <a href="/catering" class="w3-bar-item w3-button">Catering</a>
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">
  <!-- Catering Section -->
  <div class="w3-row w3-padding-64">
    <div class="w3-half w3-padding-large">
      <h1 class="w3-center">Catering</h1><br>
      <p>Cooking for my clients is a collaborative effort in that my menus are tailored to their interests and tastes.</p>
      <p>My food is best described as inventive, eclectic and satisfying. My savory dishes are healthy, seasonal and visually appealing. My desserts include a wide variety of cakes, tarts, cookies and home made ice cream. Additionally, I bake many types of bread. Kashrute is observed.</p>
      <p> I cater events for eight to fifty people. I also offer, what one of my clients refers to as, “the gift of Janice.” I will happily fill the fridge and freezer of new parents who need healthy, delicious food but have little time to prepare meals when a new baby arrives. This is a unique baby gift which is always gratefully received.</p>
    </div>
    <div class="w3-half m6 w3-center w3-padding-sma">
     <img src="/static/food.jpg" class="w3-round" alt="catering" width="80%">
    </div>
  </div>
<hr>
  <h1 class="w3-center">Sample Menus</h1><br>
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-third w3-padding-small">
      <h4>Vegetarian Dinner</h4>
      <p>Chick Pea Salad with Toasted Pumpkin Seeds, Tomato and Cilantro </p>
      <p>Roasted Cauliflower and Shallots, Shaved Cabbage and Toasted Almonds on a Celery Root Puree</p>
      <p>Cold Persian Spinach with Yogurt and Mint</p>
      <p>Carrot Salad with Middle Eastern Spices</p>
      <p>Rice</p>
      <p>Chocolate Tart</p>
      <p>Home Made Sesame Ice Cream with Dark Chocolate Flakes </p>
    </div>
    <div class="w3-third w3-padding-small">
      <h4>Fish Dinner</h4>
      <p>Parsnip Soup with Coconut Milk and Lemon </p>
      <p>Halibut with Preserved Lemons, Capers, Dill, Pine Nuts and Currants</p>
      <p>Indian Carrots with Coconut and Cilantro</p>
      <p>Arugula Salad with Fennel, Toasted Almonds, Mint and Parmesan</p>
      <p>Pan Roasted Potatoes with Chives and Tarragon</p>
      <p>Ginger Molasses Cookies, Chocolate Chocolate Chip Shortbread with Sea Salt</p>
      <p>Home Made Ginger Ice Cream with Dark Chocolate Flakes </p>
      <p>Home Made Mocha Chip Ice Cream </p>
    </div>
    <div class="w3-third w3-padding-small">
      <h4>Chicken Dinner</h4>
      <p>Tomato Soup with Chipotle Chiles and Honey </p>
      <p>Roasted Chicken with Preserved Lemons and Olives</p>
      <p>Green Beans with Pine Nut Cilantro Sauce</p>
      <p>Couscous with Fresh Herbs, Lemon and Toasted Pine Nuts</p>
      <p>Baby Kale Salad with Toasted Walnuts and Roasted Sweet Potatoes</p>
      <p>Apple Cake</p>
      <p>Coconut Sorbet </p>
    </div>
    </div>
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-16">
  <p>Contact janice.eatingin@gmail.com</p>
</footer>

</body>
</html>