<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Janice's Kitchen</title>
  <link rel="stylesheet" href="/static/style.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <a class="page-link" href="/"> Home </a>
  <a class="page-link" href="/lessons"> Lessons </a>
  <a class="page-link" href="/cookies"> Cookies </a>
  <a class="page-link" href="/catering"> Catering </a>
  <a class="page-link" href="/about"> About </a>
</header>
<h1 class="title" style="padding-top:40px;"> Cookies </h1>
<p class="cookies-paragraph">
  Small indulgences like an incredibly delicious homemade cookie go a long way these days. So treat yourself and your loved ones, too.  Cookies make a <b>great gift</b> - especially now when connecting to our friends and family is a bit challenging. Each bite reminds them that you are thinking of them.  
</p>
<div class="flex-grid">
  <a href="/cookie/mandel" class="cookie-prev">
    <img src="/static/mandel.jpg"/>
    <h6> Mandel Bread with Toasted Almonds and Cinnamon Sugar </h6>
  </a>
  <a href="/cookie/peanut" class="cookie-prev">
    <img src="/static/peanut.jpg"/>
    <h6> Peanut Butter Cookies </h6>
  </a>
  <a href="/cookie/milkchoco" class="cookie-prev">
    <img src="/static/milkchoco.jpg"/>
    <h6> Milk Chocolate Chip Cookies with Walnuts and Sea Salt </h6>
  </a>
</div>
<div class="flex-grid">
  <a href="/cookie/oatmeal" class="cookie-prev">
    <img src="/static/oatmeal.jpg"/>
    <h6> Brown Butter Oatmeal Cookies with Golden Raisins </h6>
  </a>
  <a href="/cookie/peanutmiso" class="cookie-prev">
    <img src="/static/peanutmiso.jpg"/>
    <h6> Peanut Butter Miso Cookies </h6>
  </a>
  <a href="/cookie/chocolate" class="cookie-prev">
    <img src="/static/chocolate.jpg"/>
    <h6> Chocolate Chocolate Chip Cookies </h6>
  </a>
</div>
<div class="flex-grid">
  <a href="/cookie/molasses" class="cookie-prev">
    <img src="/static/molasses.jpg"/>
    <h6> Dark Chocolate Chip Cookies with Sesame Paste, Buckwheat Flour, Walnuts and Molasses </h6>
  </a>
  <a href="/cookie/chocoshort" class="cookie-prev">
    <img src="/static/chocoshort.jpg"/>
    <h6> Chocolate Shortbread Cookies with Chocolate Chips and Sea Salt </h6>
  </a>
  <a href="/cookie/ricekrispie" class="cookie-prev">
      <img src="/static/ricekrispie.jpg"/>
      <h6> Rice Krispie Shortbread Cookies </h6>
  </a>
</div>
<p class="cookies-paragraph">
  The cookies are made to order, freeze well and many can be heated in the microwave for 20 seconds for that just baked experience. Perfect for serving with ice cream!
  <br>
  <br>
  <b>Minimum order</b> – two dozen. Kindly order a full dozen of a particular cookie (unless stated that they are sold two dozen at a time because the cookies are slightly smaller) as opposed to six of one type and six of another.
  <br>
  <br>
  To place an order <b>please email me at janice.eatingin@gmail.com.</b> I accept Venmo and PayPal
  Orders can be <b>picked up</b> at my building on the Upper West Side (675 West End Ave. x 92nd). For clients that are walking distance from my home I can <b>deliver</b> cookies for a modest fee.
  <br>
  <br>
  Ten percent of profits will be donated to West Side Campaign Against Hunger.
</p>
</body>
</html> -->

<!DOCTYPE html>
<html>
<title>Janice's Kitchen</title>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
<style>
body {font-family: "Raleway"; color: #0f457e;}
h1, h2, h3, h4, h5, h6, a {
  font-family: "Raleway";
  letter-spacing: 3px;
  text-decoration: none;
  color: #0f457e;
}
h6:hover{color:#FF7F50}
@media (max-width:700px)
{h1 {padding-top:50px;}

}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top"">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Janice's Kitchen</a>
    <div class="w3-right">
      <a href="/lessons" class="w3-bar-item w3-button">Lessons</a>
      <a href="/cookies" class="w3-bar-item w3-button">Cookies</a>
      <a href="/catering" class="w3-bar-item w3-button">Catering</a>
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>

<div class="w3-content" style="max-width:1100px;">
  <div class = "w3-row w3-center w3-padding-64">
    <div class = "w3-col w3-padding-large">
    <h1> Cookies </h1>
    <p class = "w3-large w3-padding-16">Small indulgences like an incredibly delicious homemade cookie go a long way these days. So treat yourself and your loved ones, too!  Cookies make a <b>great gift</b> - especially now when connecting to our friends and family is a bit challenging. Each bite reminds them that you are thinking of them.</p>
    <p class="w3-medium">Ten percent of profits will be donated to West Side Campaign Against Hunger.</p>
  </div>
  </div>
  
  <div class = "w3-row w3-padding-small">
    <div class = "w3-third m6 w3-padding-small"> 
    <a href="/cookie/mandel">   
    <img src="/static/mandel.jpg" class = "w3-image" width="600" height = "750">
    <h6> Mandel Bread with Toasted Almonds and Cinnamon Sugar </h6>
    </a>
    </div>

    <div class="w3-third m6 w3-padding-small">
      <a href="/cookie/peanut">
      <img src="/static/peanut.jpg" class = "w3-image" width="600" height = "750">
      <h6> Peanut Butter Cookies </h6>
      </a>
    </div>

    <div class="w3-third m6 w3-padding-small">
      <a href="/cookie/milkchoco">
      <img src="/static/milkchoco.jpg" class = "w3-image" width="600" height = "750">
      <h6> Milk Chocolate Chip Cookies with Walnuts and Sea Salt </h6>
      </a>
    </div>
  </div>

  <div class = "w3-row w3-padding-64">
    <div class="w3-third m6 w3-padding-small">
      <a href="/cookie/oatmeal">
      <img src="/static/oatmeal.jpg" class = "w3-image" width="600" height = "750">
      <h6> Brown Butter Oatmeal Cookies with Golden Raisins </h6>
      </a>
    </div>

    <div class="w3-third m6 w3-padding-small">
      <a href="/cookie/peanutmiso">
      <img src="/static/peanutmiso.jpg" class = "w3-image" width="600" height = "750">
      <h6> Peanut Butter Miso Cookies </h6>
      </a>
    </div>

    <div class="w3-third m6 w3-padding-small">
      <a href="/cookie/chocolate">
      <img src="/static/chocolate.jpg" class = "w3-image" width="600" height = "750">
      <h6> Chocolate Chocolate Chip Cookies </h6>
      </a>
    </div>
  </div>

  <div class = "w3-row w3-padding-64">
    <div class="w3-third m6 w3-padding-small">
      <a href="/cookie/molasses">
      <img src="/static/molasses.jpg" class = "w3-image" width="600" height = "750">
      <h6> Dark Chocolate Chip Cookies With Sesame, Buckwheat Flour and Walnuts </h6>
      </a>
    </div>
    
    <div class="w3-third m6 w3-padding-small">
      <a href="/cookie/chocoshort">
      <img src="/static/chocoshort.jpg" class = "w3-image" width="600" height = "750">
      <h6> Chocolate Shortbread Cookies with Chocolate Chips and Sea Salt </h6>
      </a>
    </div>
    
    <div class = "w3-third m6 w3-padding-small">
      <a href="/cookie/ricekrispie">
        <img src="/static/ricekrispie.jpg" class = "w3-image" width="600" height = "750">
        <h6 href="ricekrispie" class="w3-padding-small"> Rice Krispie Shortbread Cookies </h6>
        </a>
    </div>
  </div>

  <div class = "w3-row w3-padding-64">
    <div class="w3-third m6 w3-padding-small">
      <a href="/cookie/chococherries">
      <img src="/static/chococherries.jpg" class = "w3-image" width="600" height = "750">
      <h6> Chocolate Chocolate Chip Cookie with Dried Cherries and Toasted Pecans </h6>
      </a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-16">
  <p>Contact janice.eatingin@gmail.com</p>
</footer>
</body>
</html>