<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Janice's Kitchen</title>
  <link rel="stylesheet" href="/static/style.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <a class="page-link" href="/"> Home </a>
  <a class="page-link" href="/lessons"> Lessons </a>
  <a class="page-link" href="/cookies"> Cookies </a>
  <a class="page-link" href="/catering"> Catering </a>
  <a class="page-link" href="/about"> About </a>
</header>
<div style="display:flex; flex-direction: column;">
  <div class="bold-raleway" style="font-size:65px; padding: 30px 0;"> 
    Janice's Kitchen
  </div>
  <div class="bold-raleway" style="font-size:30px">
    Food is not love . . .  but there is love in my food
  </div>
  <div style="height:50px"/>
</div>

<div class="flex-grid">
  <a href="/lessons" class="home-item">
    <img src="/static/tools.jpg"/>
    <div class="bold-raleway" style="font-size:30px; padding-top:20px;"> 
      Lessons 
    </div>
  </a>
  <a href="/cookies" class="home-item">
    <img src="/static/oatmeal.jpg"/>
    <div class="bold-raleway" style="font-size:30px; padding-top:20px;"> 
      Cookies 
    </div>
  </a>
  <a href="/catering" class="home-item">
    <img src="/static/food.jpg"/>
    <div class="bold-raleway" style="font-size:30px; padding-top:20px;"> 
      Catering 
    </div>
  </a>
</div>
</body>
</html> -->

<!DOCTYPE html>
<html>
<title>Janice's Kitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
<style>
body {font-family: "Raleway"; color: #0f457e;}
h1, h2, h3, h4, h5, h6, a {
  font-family: "Raleway";
  letter-spacing: 3px;
  text-decoration: none;
  color: #0f457e;
}
h2:hover{color:#FF7F50}
@media (max-width:700px){h1 {padding-top:50px;}}
</style>


<body>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">
  <div class="w3-row w3-center w3-padding-64">      
    <h1 class="w3-xxlarge">Janice's Kitchen</h1><br>
    <h5>Food is not love. . . but there is love in my food.</h5>
  </div>
  
  <div class="w3-row w3-padding-small">
    <div class="w3-third m6 w3-center w3-padding-small">
      <a href = "/lessons">
      <h2 class="w3-center">Lessons</h2>
      <img src="/static/tools.jpg" class="w3-round w3-image" alt="tools" width = "300" height = "300">
      </a>
    </div>
    <div class="w3-third m6 w3-center w3-padding-small">
      <a href = "/cookies">
      <h2 class="w3-center">Cookies</h2>
      <img src="/static/oatmeal.jpg" class="w3-round w3-image" alt="oatmeal" width = "300" height = "300">
      </a>
    </div>      
    <div class="w3-third m6 w3-center w3-padding-small">
      <a href = "/catering">
      <h2 class="w3-center">Catering</h2>
      <img src="/static/food.jpg" class="w3-round w3-image" alt="tools" width = "300" height = "300">
      </a>
    </div>
    </div>
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-16">
  <p>Contact janice.eatingin@gmail.com</p>
</footer>

</body>
</html>


