<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Janice's Kitchen</title>
  <link rel="stylesheet" href="/static/style.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <a class="page-link" href="/"> Home </a>
  <a class="page-link" href="/lessons"> Lessons </a>
  <a class="page-link" href="/cookies"> Cookies </a>
  <a class="page-link" href="/catering"> Catering </a>
  <a class="page-link" href="/about"> About </a>
</header>
<div style="display:flex; flex-direction: column;">
  <img src="/static/tools-rotated.jpg" style="width:40%; margin:10px auto;"/>
  <div class="bold-raleway" style="font-size:30px; margin:0 auto; width:fit-content; padding-bottom:50px;">
    Lessons
  </div>
  <div style="margin: 0 12%; color: #0f457e;">
    Add ease, joy and confidence to your cooking routine with one on one cooking lessons.  If your kitchen can accommodate a few people I can also teach small groups.
    <br><br>
    We can discuss your goals and I will personalize each lesson to your interests.
    <br><br>
    We can focus on -
    <ul>
      <li>Meal planning (seasonal, healthy dishes . . . and dessert!)</li>
      <li>Shopping</li>
      <li>Prep</li>
      <li>Knife Skills</li>
      <li>Flavor profiles</li>
      <li>Cooking from the pantry</li>
    </ul>
    I have an enormous repertoire of recipes as I love to try new dishes. I am delighted to share what I have learned with others!
    <br><br>
    Pre-Covid, I taught cooking in person and will return to doing so when appropriate.  I am offering virtual cooking classes during Covid.
    <br><br>
    $125 per hour
    <br><br>
    Please contact me at janice.eatingin@gmail.com to schedule lessons.
    <br><br><br><br>
    Quotes from cooking students
    <br><br>
    <div class="block-quote"> 
      <div style="margin-left:10px">
        “The first time I took a series of lessons with Janice, she expertly guided me through every detail of creating a gracious Shabbat dinner for 10 people. We started by diving into Janice’s incredible recipe archive, and she taught me how to curate the various courses of a meal, and customize it to the many different dietary requirements. She helped me understand quantities and helped me write the shopping list, and then over the course of several days worked with me on the cooking. Janice taught me which elements of the meal could be made ahead of time, and she patiently and with good humor taught me everything from knife skills to how to thicken a sauce to how to tweak a recipe to my taste. Finally, she created a schedule for me for the day of the meal, to help me complete each detail of the meal in a calm and efficient way. I felt completely empowered, and it was a gourmet success!”
        <br><br>
        <span style="color:#757575; size:18px">Caroline E <span>
      </div>
    </div>
    <br><br>
    
    <div class="block-quote"> 
      <div style="margin-left:10px">
        “Janice Tannin was the perfect cooking teacher for me.  As a long time “reluctant” cook, I made the decision that it’s finally time to learn how to cook!  So I enlisted the help of Janice, a chef and caterer extraordinaire, and worked with her one on one in my small kitchen on the Upper West Side.
        <br><br>
        Janice lovingly taught me how to read a recipe and stick to it (instead of going rogue in the middle!), how to choose the best knives and how to slice, dice, mince, braise, blanche and chiffonade.  Together, Janice and I chose recipes that involved practicing my knife skills, and all the other skills I would need to become a more independent and confident cook.
        <br><br>
        During the pandemic, I continued to take lessons with Janice on Zoom, which were also very successful.  Now I have the confidence, skills, and a set of delicious recipes that Janice created or modified, and I feel like a whole new person in the kitchen!  My husband is shocked not only that I can cook stellar dishes, but that I actually developed a love for the craft.
        <br><br>
        I recommend Janice for her knowledge, patience, collaborative style, and humor.  I hope to continue working with her even as I become more advanced, as I know Janice will always have more to teach me.”
        <br><br>
        <span style="color:#757575; size:18px">Marcia M <span>
      </div>
    </div>
  </div>
</div>

</body>
</html> -->

<!DOCTYPE html>
<html>
<title>Janice's Kitchen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
<style>
	body {
		font-family: "Raleway";
    text-decoration: none;
    color: #0f457e;
	}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  letter-spacing: 3px;
  color: #0f457e;
}
@media (max-width:700px){img {padding-top:50px;}

</style>

<body>

	<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
			<a href="/" class="w3-bar-item w3-button">Janice's Kitchen</a>
			<div class="w3-right">
				<a href="/lessons" class="w3-bar-item w3-button">Lessons</a>
				<a href="/cookies" class="w3-bar-item w3-button">Cookies</a>
				<a href="/catering" class="w3-bar-item w3-button">Catering</a>
				<a href="/about" class="w3-bar-item w3-button">About</a>
			</div>
		</div>
	</div>

	<!-- Page content -->
	<div class="w3-content" style="max-width:1100px;">
		<!-- Lessons Section -->
		<div class="w3-row w3-padding-64">
			<div class="w3-half w3-center w3-padding-large">
				<img src="/static/tools.jpg" class="w3-round w3-image" alt="tools" width="80%">
      </div>
    
    <div class="w3-half w3-padding-large">
      <h1 class="w3-center">Lessons</h1><br>
      <p>Add ease, joy, and confidence to your cooking routine with one on one cooking lessons. If your kitchen can accommodate a few people I can also teach small groups.</p>
      <h5 class="w3-center">Experience</h5>
      <p> I personalize each lesson to your interests and goals. We can focus on how to put meals together - from prep to flavor profiles. I also teach knife skills and culinary skills.
    I have an enormous repertoire of recipes as I love to try new dishes. I am delighted to share what I have learned with others!</p>
    $125 per hour
  </div>
  </div>
    <hr>
    <div class="w3-row w3-padding-64">
      <h3>Quotes from My Students</h3>
      <div class="w3-half m4 w3-padding-small">
        <p class="dfn">“The first time I took a series of lessons with Janice, she expertly guided me through every detail of creating a gracious Shabbat dinner for 10 people. We started by diving into Janice’s incredible recipe archive, and she taught me how to curate the various courses of a meal, and customize it to the many different dietary requirements. She helped me understand quantities and helped me write the shopping list, and then over the course of several days worked with me on the cooking. Janice taught me which elements of the meal could be made ahead of time, and she patiently and with good humor taught me everything from knife skills to how to thicken a sauce to how to tweak a recipe to my taste. Finally, she created a schedule for me for the day of the meal, to help me complete each detail of the meal in a calm and efficient way. I felt completely empowered, and it was a gourmet success!”
        <br><br>
        <span style="color:#757575;">Caroline E <span>
        </p>
      </div>
      <div class="w3-half m4 w3-padding-small">
        <p class="dfn">“Janice Tannin was the perfect cooking teacher for me.  As a long time “reluctant” cook, I made the decision that it’s finally time to learn how to cook!  So I enlisted the help of Janice, a chef and caterer extraordinaire, and worked with her one on one in my small kitchen on the Upper West Side.
        <br><br>
        Janice lovingly taught me how to read a recipe and stick to it (instead of going rogue in the middle!), how to choose the best knives and how to slice, dice, mince, braise, blanche and chiffonade.  Together, Janice and I chose recipes that involved practicing my knife skills, and all the other skills I would need to become a more independent and confident cook.
        <br><br>
        During the pandemic, I continued to take lessons with Janice on Zoom, which were also very successful.  Now I have the confidence, skills, and a set of delicious recipes that Janice created or modified, and I feel like a whole new person in the kitchen!  My husband is shocked not only that I can cook stellar dishes, but that I actually developed a love for the craft.
        <br><br>
        I recommend Janice for her knowledge, patience, collaborative style, and humor.  I hope to continue working with her even as I become more advanced, as I know Janice will always have more to teach me.”
        <br><br>
        <span style="color:#757575;">Marcia M <span>
        </p>
      </div>
    </div>
<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-16">
  <p>Contact janice.eatingin@gmail.com</p>
</footer>
</body>
</html>